<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<title>Fresh Brown</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./css/default.css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/msie.css" /><![endif]-->
<link rel="stylesheet" type="text/css" href="./css/print.css" media="print" />
</head>
<body>
<ul class="noscreen">
  <li><a href="#content">Přeskočit na obsah</a></li>
  <li><a href="#mainMenu">Přeskočit na menu</a></li>
</ul>
<hr class="hidden" />
<div id="view">
  <div id="head">
    <h1 id="logotype">Fresh Brown Template</h1>
    <form action="http://all-free-download.com/free-website-templates/" method="post" id="searchForm">
      <fieldset>
      <legend class="hidden">Vyhledávání</legend>
      <input type="text" name="" value="Vyhledávání" class="button" />
      <input type="submit" value="Hledej" class="submit" />
      </fieldset>
    </form>
  </div>
  <hr class="hidden" />
  <div id="content">
    <p class="navi"><a href="http://all-free-download.com/free-website-templates/">Hlavní strana</a> &gt; <a href="http://all-free-download.com/free-website-templates/">Podstrana</a> &gt; Jiná podstrana</p>
    <a href="http://all-free-download.com/free-website-templates/" id="printPage">Tiskni stranu</a>
    <div id="contentBlock">
      <h2 class="subheader biggest">Georgia nadpis - dodatek</h2>
      <div class="item first">
        <h3 class="subheader"><a href="http://all-free-download.com/free-website-templates/">Nadpis nejnovějšího příspěvku</a></h3>
        <span class="date">05.04.</span>
        <div class="in"> <img src="img/img-left.jpg" width="115" height="79" alt="" class="left" />
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div>
      <div class="item">
        <h3 class="subheader"><a href="http://all-free-download.com/free-website-templates/">Nadpis o trochu staršího příspěvku</a></h3>
        <span class="date">02.04.</span>
        <div class="in"> <a href="http://all-free-download.com/free-website-templates/"><img src="img/img1.jpg" width="118" height="94" alt="" class="fl" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="img/img2.jpg" width="129" height="94" alt="" class="fl" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="img/img3.jpg" width="128" height="94" alt="" class="fl" /></a> <a href="http://all-free-download.com/free-website-templates/"><img src="img/img4.jpg" width="128" height="94" alt="" class="fl" /></a>
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div>
      <div class="item last">
        <h3 class="subheader"><a href="http://all-free-download.com/free-website-templates/">Nadpis o trochu staršího příspěvku 2</a></h3>
        <span class="date">28.03.</span>
        <div class="in">
          <p>Phasellus lacus nisi, ullamcorper at, sollicitudin in, gravida vitae, dolor. Vivamus semper lacus id libero. Nam blandit. Donec orci. Pellentesque ultricies. Donec non nunc lobortis dui posuere cursus. In scelerisque nisi a mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
      </div>
    </div>
    <hr class="hidden" />
    <div id="rightBlock">
      <div class="box submenu">
        <h3 class="subheader">Kategorie</h3>
        <div class="in">
          <ul>
            <li><a href="http://all-free-download.com/free-website-templates/">Tiskové portfolio</a></li>
            <li><a href="http://all-free-download.com/free-website-templates/">Microsites a mini weby</a></li>
            <li><strong>Celé kampaně</strong></li>
            <li><a href="http://all-free-download.com/free-website-templates/">Nerealizovaný design</a></li>
          </ul>
        </div>
      </div>
      <div class="box contact">
        <h3 class="subheader">Kontaktujte nás</h3>
        <div class="in">
          <h4 class="phone">Tel: +420 121 565 909</h4>
          <address>
          Nám. T.G.M. 637, 468 51, Smržovka<br />
          IČO: 672 08 690<br />
          DIČ: CZ7311042519<br />
          č.ú.: 415146001/2400 (eBanka a.s., Na Příkopě 19, 117 19 Praha 1)
          </address>
          <a href="http://all-free-download.com/free-website-templates/" class="more ico ico-more">Najdi na mapě</a> </div>
      </div>
      <div class="box rss">
        <h4><a href="http://all-free-download.com/free-website-templates/">RSS Kanál - <strong>Odebírat</strong></a></h4>
      </div>
    </div>
  </div>
  <hr class="hidden noprint" />
  <div id="menu">
    <ul id="mainMenu">
      <li><strong>Naše služby</strong></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Reference</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Řešení</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">V médiích</a></li>
    </ul>
    <ul id="subMenu">
      <li><a href="http://all-free-download.com/free-website-templates/">FAQ</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Kontakty</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">English</a></li>
    </ul>
  </div>
  <hr class="hidden noprint" />
  <div id="foot">
    <ul class="support">
      <li><a href="http://www.afrodita.name">AfroDita hry online</a></li>
      <li class="hotmix"><span class="fl">support by</span> <a href="http://www.hotmix.cz">Hotmix.cz<span></span></a></li>
      <li class="lt"><a href="http://www.lukastomek.cz">LT WebDevelopment<span></span></a></li>
    </ul>
    <ul class="menu">
      <li><a href="http://all-free-download.com/free-website-templates/">Hlavní strana</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Podstrana</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Jiná podstrana</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">Kontakty</a></li>
    </ul>
    <p class="copy small">Copyright 2008 - Jméno firmy</p>
  </div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
