<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<title>Simple Brown</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="source/screen.css" />
</head>
<body>
<div id="main">
  <div id="content">
    <div id="header">
      <h1><a href="http://all-free-download.com/free-website-templates/">Simple Brown</a></h1>
    </div>
    <span class="description">„I don't have any idea”</span> <span class="feed"><a href="http://all-free-download.com/free-website-templates/">RSS Feed</a></span>
    <div class="clear"></div>
    <div class="article">
      <h1 class="heading"><a href="http://all-free-download.com/free-website-templates/">Lorem Ipsum</a></h1>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      <div class="article_footer">28.2.2009, category: <a href="http://all-free-download.com/free-website-templates/">News</a>, 253x views</div>
    </div>
    <h1 class="heading"><a href="http://all-free-download.com/free-website-templates/">Gallery</a></h1>
    <img src="source/gallery.jpg" class="img-center" alt="" /> </div>
  <div id="menu">
    <ul>
      <li><a href="http://all-free-download.com/free-website-templates/">1. Home</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">2. Blog</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">3. Projects</a></li>
      <li><a href="http://all-free-download.com/free-website-templates/">4. Contact</a></li>
    </ul>
  </div>
  <div id="footer">Template by <a href="http://maxipod.cz">Michal Semelka</a>, our tip <a href="http://www.darkovacentrala.cz">Dárky pro muže i ženy</a> </div>
  <div class="clear"></div>
</div>
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
